<div class="root-main">
    <ng-container *ngIf="user">
      <nav class="navbar">
        <div class="user-img">
          <img *ngIf="user.avatar_url" src="{{user.avatar_url}}" alt="">
        </div>
        <div (click)="goToProfile()" class="user-name font-arvo">{{user.name}}</div>
        <div class="btns">
          <div (click)="goToSearch()" class="search">
            Search
          </div>
          <div (click)="logout()" class="logout-btn">
            Logout
          </div>
        </div>
      </nav>
    </ng-container>
    <div [class.access-token]="user" class="main">
      <router-outlet></router-outlet>
    </div>
</div>